:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container {
  width: calc(100% - 48px);
  margin: 0 auto;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
}

.container h1 {
  font-size: 30px;
  font-weight: bold;
}
.list__tailieu {
  display: flex;
  /* height: 370px; */
  width: calc(100% - 48px);
  justify-content: space-around;
}
.tailieu-item__icon {
  border-bottom: 1px solid black;
  object-fit: cover;
  width: 350px;
  height: 350px;
}
.tailieu--item {
  width: 350px;
  height: 500px;
  margin-top: 50px;
  border: 3px solid black;
}
.tailieu-item__heading {
  margin-top: 10px;
  color: #10375c;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.38;
}
.tailieu-item__desc,
.tailieu-item__heading {
  margin-top: 10px;
}
.tailieu-item__desc {
  margin-bottom: 20px;
  font-size: 20px;
}
.download--item {
  font-size: 25px;
  /* text-decoration: none; */
}
.download--file {
  /* text-align: center ; */
}
